In [25]:
#from google.colab import files, drive
#drive.mount('/content/gdrive')
# files.upload()

In [42]:
!pip install transformers
!pip install silence_tensorflow

Requirement already satisfied: transformers in /usr/local/lib/python3.7/dist-packages (4.5.1)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from transformers) (3.10.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.0.12)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from transformers) (20.9)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.19.5)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers) (0.0.45)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.41.1)
Requirement already satisfied: tokenizers<0.11,>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.10.2)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->transformers) (3.4.1)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->transformers) (3.7.4.3)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->transformers) (2.4.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: silence_tensorflow in /usr/local/lib/python3.7/dist-packages (1.1.1)

In [43]:
%matplotlib inline
#Importing Transformers
import transformers
from transformers import AutoConfig, AutoModelForSequenceClassification, AutoTokenizer

#Importing Pandas
import pandas as pd

#Importing Numpy
import numpy as np

from silence_tensorflow import silence_tensorflow
silence_tensorflow()
import torch
import json
import nltk
import re
import string
import matplotlib.pyplot as plt
import operator

In [44]:
config = AutoConfig.from_pretrained("ProsusAI/finbert")
tokenizer = AutoTokenizer.from_pretrained("ProsusAI/finbert")
model = AutoModelForSequenceClassification.from_pretrained("ProsusAI/finbert")

In [46]:
SBI_news = pd.read_excel('articles_sbi (3).xlsx')
SBI_news = SBI_news.loc[:, ~SBI_news.columns.str.contains('^Unnamed')]

In [47]:
SBI_news.head()

           Date  ... Classifier
0   Mar 8, 2020  ...        NaN
1   Mar 5, 2020  ...        NaN
2   Mar 6, 2020  ...        NaN
3  Mar 13, 2020  ...        NaN
4  Mar 13, 2020  ...        NaN

[5 rows x 6 columns]

In [50]:
SBI_news_mod.head()

           Date  ... Classifier
0   Mar 8, 2020  ...        NaN
1   Mar 5, 2020  ...        NaN
2   Mar 6, 2020  ...        NaN
3  Mar 13, 2020  ...        NaN
4  Mar 13, 2020  ...        NaN

[5 rows x 6 columns]

In [49]:
SBI_news_mod = SBI_news.copy(deep=True)

In [51]:
classes=['positive','negative','neutral']

In [54]:
SBI_news_mod.drop('Classifier',inplace=True, axis=1)
SBI_news_mod.head()

           Date  ...                                            Summary
0   Mar 8, 2020  ...  As we battle the economic impact of the pandem...
1   Mar 5, 2020  ...  “State Bank will only hold a stake in Yes Bank...
2   Mar 6, 2020  ...  The government has knocked on the doors of the...
3  Mar 13, 2020  ...  According to the proposal, SBI will infuse ₹72...
4  Mar 13, 2020  ...  Other participants in the plan include Housing...

[5 rows x 5 columns]

In [55]:
SBI_news_mod = SBI_news_mod.dropna()

In [56]:
SBI_news_mod['title_encoded'] = SBI_news_mod['Title'].apply(lambda x: tokenizer.encode_plus(x,
                                                                                            truncation=True,
                                                                                            padding=True,
                                                                                            return_tensors="pt"))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [57]:
SBI_news_mod['sentiment'] = SBI_news_mod['title_encoded'].apply(lambda x: dict(zip(classes, torch.softmax(model(**x)[0], dim=1).tolist()[0])))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [58]:
SBI_news_mod.head()

           Date  ...                                          sentiment
0   Mar 8, 2020  ...  {'positive': 0.4953855276107788, 'negative': 0...
1   Mar 5, 2020  ...  {'positive': 0.02600766532123089, 'negative': ...
2   Mar 6, 2020  ...  {'positive': 0.05002627521753311, 'negative': ...
3  Mar 13, 2020  ...  {'positive': 0.5257067680358887, 'negative': 0...
4  Mar 13, 2020  ...  {'positive': 0.6517215967178345, 'negative': 0...

[5 rows x 7 columns]

In [59]:
SBI_news_mod['sentiment_news'] = SBI_news_mod['sentiment'].apply(lambda x: max(x.items(), key=operator.itemgetter(1))[0])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [60]:
SBI_news_mod.head()

           Date  ... sentiment_news
0   Mar 8, 2020  ...        neutral
1   Mar 5, 2020  ...        neutral
2   Mar 6, 2020  ...        neutral
3  Mar 13, 2020  ...       positive
4  Mar 13, 2020  ...       positive

[5 rows x 8 columns]

In [61]:
SBI_news_mod['sentiment_news'].value_counts()

neutral     113
negative     41
positive     31
Name: sentiment_news, dtype: int64

In [62]:
SBI_news_mod.to_excel("sbi_sentiment2.xlsx")